<!doctype  html>
<body>

  <h1> Request {{ request.id }}</h1>
  <p>{{ request.title }}</p>
  <p>Pickup Location: {{ request.pickup }}</p>
  <p>Estimated Arrival Date: {{ request.eta }}</p>
  <!---link to sort locations by arrival dates--->
  <!----<a rel="alternate" href="eta2793?sort-by=eta">Sort by Arrival Dates</a>---->

  <table>
    <thead>
      <tr>
        <th>Estimated Arrival Dates for different Locations</th>
      </tr>
    </thead>
    <tbody>
    {% for pickup in pickups %}
      <tr>
          {% if pickup != request.pickup %}
        <td class="pickup">{{ pickup }}:</td>
        <td class="eta">
            {% if pickup == request.location %}
               {{other_etas.home}}
            {% else %}
               {{other_etas.eta}}
            {% endif %}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <a rel="item" href="{{ url_for('request',request_id=request.id) }}">View/Update Request Information</a>
  <br>
  <a rel="collection" href="{{ url_for('requestlist') }}">Total Requests</a>
</body>