<!doctype html>

<body>
  <!----outbound link to collection of requests----->
  <a rel="collection" href="{{ url_for('requestlist') }}">Total Requests</a>
  <table class="request">
    <thead>
      <tr>
        <th>Request {{ request.id }}</th>
      </tr>
    <tbody>
      <tr>
        <td>Title:</td>
        <td class="title">{{request.title}}</td>
      </tr>
      <tr>
        <td>Call #:</td>
        <td class="callnumber">{{ request.callnumber }}</td>
      </tr>
      <tr>
        <td>OCLC #:</td>
        <td class="oclc">{{ request.oclc }}</td>
      </tr>
      <tr>
        <td>Item Location:</td>
        <td class="item_home">{{ request.location }}</td>
      </tr>
      <tr>
        <td>Pickup Location</td>
        <td class="pickup">{{ request.pickup }}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td class="status">{{ request.status }}</td>
      </tr>
      <tr>
        <td>ETA:</td>
        <td class="eta">{{ request.eta }}</td>
      </tr>
    </tbody>
    </thead>
  </table>
  <br>
  <!-----outbound link to delivery times for different pickup locations---->
  <a rel="service-locations" href="eta/{{ request.id }}">Estimated Delivery Times for Different Pickup Locations</a>
  <br>
  <form class="request-update" action="{{ url_for('request',request_id=request_id) }}" method="patch">
    <br>
    <label>Update Pickup Location
     <select name="pickup">
       {% for value in pickups %}
       <option value="{{ value }}" {% if request.pickup == value %}selected{% endif %}>
           {{ value }}
       </option>
       {% endfor %}
     </select>
    </label>
    <br>
    <label>Notes
      <ul>
          {% for note in request.notes %}
          <li>
              <p>{{ note }}</p>
          </li>
          {% endfor %}
      </ul>
      <textarea name="notes"></textarea>
    </label>
    <br>
    <input class="update" type="submit" value="update Item Request">

    <script>
      var form = document.querySelector('form.request-update');
      var button = document.querySelector('form.request-update input.update');

      button.addEventListener('click', function (event) {
        event.preventDefault();
        var request = new XMLHttpRequest();
        request.open('PATCH', window.location.pathname);
        request.onreadystatechange = function () {
          if (XMLHttpRequest.DONE === request.readyState
              && 200 === request.status) {
            window.location.reload(true);
          }
        }
        request.send(new FormData(form));
      }, false);
   </script>
  </form>
<br>
<a href="{{ url_for('request',request_id=request.id) }}.json">
view data as JSON-LD</a>
</body>

