<!doctype html>

<body>
<h1>Requests</h1>
  <!---templated query link to filter by a search term--->
  <form class="search" method="get" action="{{ url_for('requestlist') }}">
    <input name="query" type="text" value="{{ request.args['query'] }}">
    <input class="query" type="submit" value="search for a request">
  </form>
  <table class="collection">
    <thead>
      <tr>
        <th>Username</th>
        <th>Request ID</th>
        <th>Item Title</th>
        <th>OCLC #</th>
        <th>Date Created</th>
        <th>Item Location</th>
        <th>Pickup Location</th>
        <th>Request Status</th>
      </tr>
    </thead>
    <tbody>

      {% for request_id,request in requests %}
      <tr class="request">
        <td class="username">{{ request.username }}</td>
        <td class="id" >
          <!---outbound link to individual request---->
          <a rel="item" href="{{ url_for('request',request_id=request_id) }}">{{ request_id }}</a>
        </td>
        <td class="title">{{ request.title }}</td>
        <td class="oclc">{{ request.oclc }}</td>
        <td class="date">{{ request.time }}</td>
        <td class="item_home">{{ request.location }}</td>
        <td class="pickup">{{ request.pickup }}</td>
        <td class="status">{{ request.status }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!---non-idempotent update link for creating a new item request---->
  <form class="request-update" action="{{ url_for('requestlist') }}" method="post">
    <label>Username</label>:
      <input name="username" type="text"/>
    <br>
    <label>Title</label>:
      <input name="title" type="text"/>
    <br>
    <label>Item Location</label>:
      <input name="location" type="text"/>
     <br>
    <label>Pickup Location</label>:
      <input name="pickup" type="text"/>
    <br>
    <label>OCLC #</label>:
      <input name="oclc" type="text"/>
    <br>
    <input class="create" type="submit" value="Submit" value="Submit new request">
    <br>
  </form>
<br>
<a href="{{ url_for('requestlist') }}.json">
view data as JSON-LD</a>
</body>